<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>django toDoApp</title>
</head>
<body>

    <h2>Created toDoApp with django</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <div>
            <p>{{form}}</p>
            <input type="submit" value="Submit">
        </div>
    </form>

    {% for task  in tasks %}
        <div>
            {% if task.complete %}
                <strike>{{task}}</strike>
            {% else %}
                <span>{{task}}</span>
            {% endif %}
            <a href="{% url 'update' task.id %}">Update</a>
            <a href="{% url 'delete' task.id %}">Delete</a>
        </div>
    {% endfor %}
    
</body>
</html>